@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Walter+Turncoat&display=swap');



html{
    margin: 0;
    border: 0px;
    width: 390px;
    height: 844px;
}

body{
    margin: 0;
    padding: 0;
}
.bg{
    margin: 0;
    width: 390px;
    height: 844px;

    background: #FFF8EB;
    /* background-color: white; */
    /* padding: 10px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    /* box-sizing: border-box; */
    
}

p{
    /* position: relative;
    width: 224px;
    height: 154px;

    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px; */
    /* or 125% */

    /* text-align: center;
    letter-spacing: -2px; */

    /* left: 70px; */
    /* top: 100px; */

    /* color: #171513; */
}

.p_1{
    position: absolute;
    width: 112px;
    height: 22px;
    left: 76px;
    top: 454px;
    
    font-family: 'Average';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 22px;
    /* identical to box height, or 52% */
    
    letter-spacing: -0.408px;
    
    color: #000000;
}

.p_2{
    position: absolute;
    width: 76px;
    height: 22px;
    left: 191px;
    top: 458px;

    font-family: 'Average';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    /* identical to box height, or 92% */

    letter-spacing: 0.06em;

    color: #1406B1;

    position: absolute;
    width: 329px;
    height: 121px;
    left: 34px;
    top: 526px;

    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    /* or 72% */

    text-align: center;
    letter-spacing: 0.5px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.head{
    position: absolute;
    width: 308px;
    height: 140px;
    left: 43px;
    top: 293px;
    
    font-family: 'Walter Turncoat';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 140px;
    /* identical to box height */
    
    letter-spacing: -0.05em;
    
    color: #000000;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       
}

button{
    position: absolute;
    width: 262px;
    height: 58px;
    left: 64px;
    top: 744px;
    top:729px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;

    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 22px;

    /* letter-spacing: 0.5px; */

    color: black;
    letter-spacing: 4px;
}

button:hover{
    background-color: #e5a020;
    color: white;
    font-weight: 650;
    
}

.index_img{

    position: absolute;
    width: 290px;
    height: 194px;
    left: 48px;
    top: 152px;

    background: url(pngimg.png);
}

.box{

    box-sizing: border-box;

    position: absolute;
    width: 295px;
    width: 289px;
    width: 322px;
    height: 102px;
    height: 124px;
    left: 32px;
    top: 381px;

    background: rgba(255, 248, 235, 0.72);
    /* border: 1px solid #000000; */
    border-radius: 19px;

}

.white_box{
    position: absolute;
    width: 289px;
    height: 124px;
    left: calc(50% - 289px/2 + 0.5px);
    top: 434px;
    
    background: rgba(255, 255, 255, 0.85);
    border-radius: 19px;   
}

/* .p_1{
    position: absolute;
    width: 302px;
    height: 94px;
    left: 48px;
    top: 393px;
    
    font-family: 'Average';
    font-style: normal;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    or 61%
    
    text-align: center;
    letter-spacing: -0.408px;
    
    color: #000000;
} */

.p_1{
    position: absolute;
    width: 112px;
    height: 22px;
    left: 76px;
    top: 454px;

    font-family: 'Average';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 22px;
    /* identical to box height, or 52% */

    letter-spacing: -0.408px;

    color: #000000;
}

.p_itr{
    position: absolute;
    width: 320px;
    height: 109px;
    left: calc(50% - 320px/2);
    left: 32px;
    top: 594px;
    
    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 23px;
    /* or 72% */
    
    text-align: center;
    letter-spacing: 0.5px;
    
    color: #000000;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bt_p{
    /* width: 325px;
    height: 20px;
    
    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.5px;
    
    color: #FFFFFF;
    
    
    Inside auto layout
    
    flex: none;
    order: 0;
    flex-grow: 0; */

 

}

.img_b{
    position: absolute;
    width: 391px;
    height: 624px;
    left: 0px;
    top: 220px;
    
    background: #E8B24D;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 110px 110px 0px 0px;
}

.img_m{
    position: absolute;
    width: 302px;
    height: 94px;
    left: 48px;
    top: 393px;   

    position: absolute;

    left: 45px;
    top: 396px;
}